@font-face {
  font-family: "lovers-icon"; /* Project id 5108536 */
  /* src: url('iconfont.woff2?t=1768207303061') format('woff2'); */
  src: url('./iconfont.woff2') format('woff2'),
  url('./iconfont.woff') format('woff'),
  url('./iconfont.ttf') format('truetype');
}
/* 
  url('iconfont.woff?t=1768207303061') format('woff'),
       url('iconfont.ttf?t=1768207303061') format('truetype'); */

.lovers-icon {
  font-family: "lovers-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lovers-gouwuche:before {
  content: "\e70b";
}

