// 上传成功后，删除按钮的样式
:deep(.u-upload__deletable) {
	width: 30px !important;
	height: 30px !important;
}
:deep(.u-icon--right text) {
	font-size: 25px !important;
	line-height: 25px !important;
}
// 上传成功后，隐藏成功提示
:deep(.u-upload__success) {
	display: none !important;
}
